@import '~bootstrap/scss/bootstrap';
$purple: #6b5b95;
$yellow: #feb236;
$red: #d64161;
$orange: #ff7b25;
$dark: #212529;

body {
  background-color: $purple;
}

h1 {
  color: $dark;
}

header {
  background-color: $orange;
}

.board-square {
  align-items: center;
  background-color: $purple;
  display: flex;
  height: 100px;
  font-size: 100px;
  font-weight: bold;
  justify-content: center;
  user-select: none;
}

#user-feedback {
  color: $dark;
  display: block;
  height: 1rem;
  text-align: center;
  user-select: none;
}

#grid-0 {
  border-right: 0.5rem solid $dark;
  border-bottom: 0.5rem solid $dark;
}

#grid-1 {
  border-right: 0.5rem solid $dark;
  border-bottom: 0.5rem solid $dark;
  border-left: 0.5rem solid $dark;
}

#grid-2 {
  border-bottom: 0.5rem solid $dark;
  border-left: 0.5rem solid $dark;
}

#grid-3 {
  border-top: 0.5rem solid $dark;
  border-right: 0.5rem solid $dark;
  border-bottom: 0.5rem solid $dark;
}

#grid-4 {
  border-top: 0.5rem solid $dark;
  border-right: 0.5rem solid $dark;
  border-bottom: 0.5rem solid $dark;
  border-left: 0.5rem solid $dark;
}

#grid-5 {
  border-top: 0.5rem solid $dark;
  border-bottom: 0.5rem solid $dark;
  border-left: 0.5rem solid $dark;
}

#grid-6 {
  border-top: 0.5rem solid $dark;
  border-right: 0.5rem solid $dark;
}

#grid-7 {
  border-top: 0.5rem solid $dark;
  border-right: 0.5rem solid $dark;
  border-left: 0.5rem solid $dark;
}

#grid-8 {
  border-top: 0.5rem solid $dark;
  border-left: 0.5rem solid $dark;
}
